
/* BASIC SETUP*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
 
}
hr{
 
}
p{
  
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
section{
    padding: 60px 0;
}
h3{
 
}

h4{

}

.bg_red{
    background: red;
}
.bg_green{
    background: green;
}
